
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    margin:0;
    padding:2rem;
    background-color: rgb(91, 228, 228);
    background-size: 110000%;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }



.navbar{
    justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
    color: #fff ;
    display: flex;
    justify-content:space-between;
    height: 100px;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 100%;
    box-shadow:20px 20px 40px black;

}


.nav-itens, ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.nav-iten, a, li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    gap: 2rem;
    padding: 1rem;
}

a{
    display: block;
}

.nav_logo{
    font-size: 40px;
    left: 0;
    padding: 1rem;
   
}

.contato{
    padding: 1rem;
    justify-content: center;
}



main{
    width:100%;
    background-color: rgba(248, 248, 248, 0 );
}   

.main-posts{
    background-color: rgba(255,255,255,0.1);
    padding:4rem;
    border-radius:10px;
    position: relative;
    width:70%;

}   




.fonte {
    font-family: 'Incosolata';
    font-size: 20px;

}

/* >>> Ínicio de componentes de personalização <<<*/

.borda {
    padding: 1px;
    text-align: center;
    border-bottom: black thin solid;
    font-size: 15px;
    background: black;
    color: white;
    
}

.sombra {
    box-shadow: 0 10px 10px 10px rgba(11, 11, 11, 0.2) 0 6px 2px 0 rgba(211, 9, 9, 0.19);
}

/* >>> Fim de componentes de personalização <<< */

/*.body {
    
    margin: auto;
    box-shadow: 0 0.3em 1em #000;
    max-width: 60em;
}

html {
    background-color: white;
}
*/


/* >>> Ínicio da página principal <<< */

.titulo_post_redead2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;



}

.container-principal{
    background-color: rgba(242, 245, 246,0.0);
    padding: 2rem;
    border-radius: 10px;
    width:100%
   /* box-shadow: 0 20px 20px 20px rgba(0,0,0,0.5);*/
   /*box-shadow: 20px 20px 20px */

}


.card-principal_1,
.link_1 {
    background-image: url(/img/rd2_post.jpg);
    background-size: 100%;
    height: 600px;
    grid-area: a;
    width: 700px;
    border-radius: 8px;
    object-fit: cover;
    border-width: 7px;
    position: relative;
    margin:0;
    z-index: 0;
    backdrop-filter: blur(20rem);
    box-shadow:20px 20px 20px black;

    




}

.descricao1_grid_a {
    position: absolute;
    top: 14rem;
    left: 1rem;
    text-align: center;
    background-color:black;
    cursor: pointer;
    font-size: 40px;
    padding-right: 1rem;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: groove;
    padding: 1rem;
    color: #fff;

}

.descricao2_grid_a {
    position: absolute;
    bottom: 0.4rem;
    left: 1rem;
    background-color: black;
    cursor: pointer;
    font-size: 35px;
    border-style: groove;
    border-radius: 20px;
    color: #fff;

}

.descricao1_grid_b,.descricao1_grid_c {
    position: absolute;
    bottom: 9rem;
    left: 1rem;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    border-style: groove;
    padding: 1rem;
    color: #fff;

}

.descricao2_grid_b,.descricao2_grid_c {
    position: absolute;
    top: 15.5rem;
    left: 1rem;
    background-color: black;
    border-radius: 10px;
    border-style: groove;
    font-size: 20px;
    padding: auto;
    color: #fff;



}





.card-principal_2,
.link_2 {
    background-image: url(/img/playstation_post.jpg);
    background-size: 100%;
    height: 290px;
    grid-area: b;
    border-radius: 8px;
    object-fit: cover;
    border-width: 7px;
    position: relative;
    box-shadow:20px 20px 20px black;



}

.card-principal_3,
.link_3 {
    background-image: url(/img/github.png);
    background-size: cover;
    height: 290px;
    grid-area: c;
    width: 500px;
    border-radius: 8px;
    object-fit: cover;
    border-width: 7px;
    position: relative;
    box-shadow:20px 20px 20px black;





}

.container-principal,
.link_1,
.link_2,
.link_3 {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    grid-template-areas: "a b "
                        "a c";
}

.container1 {
    height: 600px;
}

.anuncio {
    border-width: black 30px;
    height: 150px;
    width: 100%;
    background-color: rgb(203, 223, 240,0.1);
    backdrop-filter: blur(10rem);
    margin: 2rem 0
}

.texto_anuncio {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;

}

/* bloco de notícias */

.link-noticias{
    font-size: 40px;
    color: black;
    margin: 2rem 0;
    box-shadow:20px 20px 40px black;
    border-radius:10px;
    border-style: solid white;
    border-width: 10px;


}

.linha{
    margin:2rem 0;
    border-width: 2px;
    color: rgb(11, 11, 11);

}



.bloco-noticias{
    width: 60%;
    margin:0;
    height: 800px;
    border-width: 0.5px;
    border-color: black;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "a b"
                         "a c";
    position: relative;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-color: black;
    gap:30px;
    padding:2rem;
    background-color: rgb(255, 255, 255,0);

}

/* Bloco_1 Notícias  */

.conteudo-bloco1{
    display: grid;
    background-color: rgb(250, 247, 247,0.5);
    position: relative;
    border-radius:10px;
    grid-area: a;
    width: 100%;
    height:70%;
    border-width: 2px;
    border-style: groove;
    margin: 0;
    padding: 1rem 2rem;
    box-shadow:20px 20px 20px 

    
}

.imagens-noticias1{
    max-width: 70%;
    bottom: 0;
    position: absolute;
    margin: 1rem 2rem;
}

.p2-noticia_bloco_1{
    top: 2rem;
    position: absolute;
    font-size: 24px;
    color: black;
    margin: 1rem 2rem;
}

.p3-noticia_bloco_1{
    position: absolute;
    font-size:20px;
    color: black;
    top: 12rem;
    margin:1rem 2rem;
}

.p1-noticia_bloco_1{
    position: absolute;
    color: black;
    font-size: 14px;
    text-transform:uppercase;
    margin: 1rem 2rem;
}





p{
    font-size: 16px;
    top: 12rem;
}





/* bloco_2  Notícias */ 

.conteudo-bloco2{
    margin: 0rem;
    height: 300px;
    border-radius: 10px;
    grid-area: b;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    display: grid;
    gap: 30px;
    position: relative;
    grid-template-areas: "f"
                         "g";
}   



.bloco_f{
    border-width: 2px;
    border-style: groove;
    border-radius:10px;
    grid-area: f;
    padding: 1rem 2rem;
    background-color: rgb(250, 247, 247,0.5);
    box-shadow:20px 20px 20px 



}

.imagens-noticias2_f,.imagens-noticias2_g{
    top: 0;
    right: 0;
    max-width:25%;
    position: absolute;

}
.imagens-noticias2_g{
    grid-area: g;
}

.imagens-noticias2_f{
    grid-area: f;

}

.p1-noticia_bloco_2{
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    grid-area: f;

}

.p2-noticia_bloco_2{
    position: absolute;
    font-size:20px;
    color: black;
    margin: 2rem 5rem 0rem 0rem;
    grid-area: f;
    
    
}

.link-bloco-2_f{
    grid-area: f;
    width: 340px;
    height: 130px;
    position: absolute;
    right: 1rem;
    z-index: 1;
    border-style: none;
}

.bloco_g{
    border-width: 2px;
    border-style: groove;
    border-radius:10px;
    grid-area: g;
    padding: 1rem 2rem;
    background-color: rgb(250, 247, 247,0.5);
    box-shadow:20px 20px 20px 


}

/*.imagens-noticias2_g{
    max-width: 50%;
    grid-area: g;
    position:absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    width: 50%;
}*/

.link-bloco-2_g{
    grid-area: g;
    width: 340px;
    height: 130px;
    position: absolute;
    right: 1rem;
    z-index: 1;
    border-style: none;
}


.conteudo-bloco3{
    background-color: rgb(250, 247, 247);
    border-radius: 10px;
    position: relative;
    border-style: groove;
    display: grid;
    grid-area: c;
    border-width: 1px;
    height: 400px;
    box-shadow:20px 20px 20px 

    

}

.link-bloco_3{
    background-image: url(https://static0.srcdn.com/wordpress/wp-content/uploads/2021/02/mass-effect-citadel-header.jpg);
    background-size: cover;
    border-radius: 10px;
    
}   

.p3-noticia_bloco_3{
    color: black;
    position: absolute;
    margin: 1rem 2rem;
    top: 14rem;


}

.coluna_maislidas{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: red;
    right: 0;
    top:75.3rem;
    margin:2rem 0;
    border-radius:10px
}

.titulo-maislidas{
    background-color: black;
    border-radius: 10px;
    padding: 1rem 2rem;
    
}

.anuncio-noticias{
    position: absolute;
    height: 246px;
    width: 350px;
    background-color: red;
    margin: auto;
    margin-right: 5rem;
    right: 0;
    border-radius: 10px;
    top: 110rem;


}
.texto-anuncio-noticia{
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.link-videos{
    color: black;
    margin: 0;
    text-decoration-line: none;
    font-size: 30px;
    text-transform: capitalize;
    box-shadow:20px 20px 40px black;
    border-radius: 10px;


}






                 

.video-1{
    border-width: 10px;
    width: 400px;
    margin-bottom: 1rem;
    
}

h3{
    margin:1rem;
    
}

.paragrafo-secao-video{
    margin: 1rem;
}


.descricao_video{
    color: black;
    position: absolute;
    margin: 0;

}


#desc {
    background-color: black;
    border-radius: 10px;
    padding: auto;
    margin-bottom: 20rem
}

.link_1:hover {
    background-image: 100%;
    scale: 110;



}

/*páginas dos posts*/

.img{
    position: absolute;
    
}

.container-1{
    position: relative;
}




/*seção de vídeos*/

.secao-videos{
    display:flex;
    gap: 10px;
    width: 65%;
    border:2rem;
    border-color: black;
}

.bloco-1-video{
    width: 260px;
    border-style:groove;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(250, 247, 247)

    

}

.video-1{
    width:100% ;
    border-radius:20px;
    padding: 0.2rem;
    background-color: rgb(12, 197, 248);
}


/* Footer(Início) */

.footer{
    background-color: rgb(248, 248, 252,0);
    margin:10rem 0 0;
    text-align: center;
    border-radius:10px;

}

.span-footer{
    justify-self: center;
    text-transform: capitalize ;
    font-size: 30px;
}

/* Footer (Término) */

.texto-principal{   
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    padding: 2rem;
}

.texto-principal-1{
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    padding: 2rem;
    margin-left: 29rem;
}



/* >>> Ínicio dos parâmetros responsivos <<< */

@media(max-width:720px){
    body,main{
        width: 100%;
    }

    .container-principal,
    .card-principal_1, 
    .card-principal_2, 
    .card-principal_3
    {
        display: block; 
        width: 100%;
        padding: 0;
        margin-bottom:25px;
    }
    
    

    .bloco-noticias{
        display: block;
        width: 100%;
        padding: 0;
        
    }

    .conteudo-bloco1{
        height: 60%;
        margin-bottom:20px
    }

    

    .imagens-noticias1{
        max-width: 40%;
    }

    .imagens-noticias2_f{
        width: 100%;

    }

    .p2-noticia_bloco_1{
        font-size: 20px;
    }

    .p3-noticia_bloco_1{
        font-size: 17px;
    }

    .p2-noticia_bloco_2{
        font-size: 18px;
    }

    .navbar,.nav-itens{
        display:block;
        width: 100%;
    }

    .secao-videos{
        display: block;
        margin-top:25rem;
        width: 100%;
    }

    .bloco-1-video{
        width:100%;
        margin-bottom:20px
    }

  

    
}

.post{
    margin: 0;    
}

/*Resposividade artigos*/

@media (max-width:720px){
    
}
